.headline {
	padding: 40px 0px;
}
.formline {
	padding: 20px 0px;
}
.byline {
}
.formstyle {
    display: inline-block;
}

.thankyou-thumb {
	clear:both; 
	width:260px;
	height:260px;
    background-position: top;
    background-size: auto 100%;
}