/* Heder / Footer */
.navbar-inner{
	background-color: #444;
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
	color: #FFFFFF;	
}
.navbar .brand{
	background-image: url(../img/logo_tml.gif);
	background-size: auto 47px;
	width: 94px;
	height: 45px;
	margin: 2px 0 2px 4px;
	padding: 0px;
}

/*
azul: 1f213b;
amarillo: dfa745;
rojo: d31745;
cian: 089699;
 */

.top20 {
	margin-top: 20px !important;
}
.line-bottom {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px !important;
	margin-bottom: 20px !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #e4e4e4;
  text-decoration: none;
  background-color: #dfa745;
  /*height: 52px;*/
  -webkit-box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.125);
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #dfa745;
    color: #f3f3f3;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #dfa745;
	text-decoration: none;
	background-color: transparent;
}



.navbar .nav > li > a {
    color: #e4e4e4;
    float: none;
    padding: 16px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #00454E;
}

a {
	color: #dfa745;
	text-decoration: none;
}

/* Heder / Footer */

/* MENU */

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
		color: #ffffff;
		text-decoration: none;
		background-color: #dfa745;
		background-image: linear-gradient(to bottom, #dfa745, #dfa745);
		background-repeat: repeat-x;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
		color: #ffffff;
		text-decoration: none;
		background-color: #dfa745;
		background-image: linear-gradient(to bottom, #dfa745, #dfa745);
		background-repeat: repeat-x;
		outline: 0;
}


/* MENU */


/* GRAFICOS BARRAS */

rect[Attributes Style] {
	stroke: rgb(255, 255, 255);
	fill: rgb(228, 103, 100);
	stroke-width: 1px;
}
/* GRAFICOS BARRAS */

/*gutter*/
/*
[class*="span"] {
	margin: 0px;
}
.row {
	margin-left: 0px;
}
*/
.row-bottom {
	margin-bottom: 20px;
}
.row-bottom .grid-view {
	padding-top: 0px;
}

#page {
    padding-top: 60px;
}
footer .navbar-inner, footer .subnav {
	min-height: 23px;
}
footer .navbar-inner small {
    float: none;
    margin: 0 auto;
}
#top .grid-view {
	padding-top: 0px;
}
#blank-row {
	height: 50px;
}

.grid-view .button-column {
    text-align: center;
    width: 30px;
}

/* grid-view */
.grid-view {
	font-size: 11px;
}
#add-campaigns-grid {
	padding-top: 0px;
}
.single-button-column {
	padding: 0px 1px;
}
.modal-footer {
	font-size: 11px;
	padding: 8px 15px;
}

fieldset hr {
	background: #e9e9e9;
	height: 1px;
	border: none;
}

.datepicker.dropdown-menu {
	z-index: 2000;
}
.form-actions {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.well {
	margin-bottom: 0px;
	m
}

.breadcrumb > .active {
  color: #999999;
  font-size: 17px;
}
.botonera {
	text-align: right;
}
.botonera-l {
	margin-bottom: 15px;
}
.form-subtittle {
	margin-top: 0px;
	color: #666;
}

/* top chart */
.top-chart {
	/*padding-top: 18px;*/
	margin-bottom: 20px;
}
.top-chart .top-gridview {
	overflow: hidden;
	height: 20px;
	display: block;
}


.errorCap {
	color: red;
}

.isFromVector {
	border-left: medium solid #E49A08;
	padding-left: 15px;
}

.editableField {
	text-align: right !important;
}
.editableField a {
	text-decoration: none;
	border-bottom: none;
}
.notMultiCarrier a {
    pointer-events: none;
    cursor: default;
	text-decoration: none;
	border-bottom: none;
	color: #000;
}
.plusMR {
	padding: 0px !important;
	width: 15px !important;
	border-spacing: 0px !important;
}

.highcharts-container text {
	visibility: hidden;
}
.highcharts-container g text {
	visibility: visible;
}
#alignLeft {
	text-align: left !important;
}

.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	z-index: 1060!important;
}

/* ester eggs */
.easter-footer {
	display: none;
}

/** Loading screen **/
#page {
    display: none;
}
#loader {
	display            : block;
	position           : fixed;
	top                : 0;
	left               : 0;
	z-index            : 1000;
	/*width              : 100vw;
	height             : 100vh;*/
	background-color   : rgba(255, 255, 255, 0.4);
	background-image   : url("../img/loading.gif");
	background-repeat  : no-repeat;
	background-position: center;
}

.input-condensed input {
	margin-bottom: 0px!important;
	height: 15px!important;
}
	
.icon-status{
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../img/sprite_status.png);
}
.not_verifed, .linkinvoiced .not_sended, .linkinvoiced .verifed, .linkinvoiced .validated, .linkinvoiced .viewed, .linkinvoiced .approved, .linkinvoiced .disputed, .linkinvoiced .expired, .linkinvoiced .sent{
	display: block;
	width: 15px;
	height: 15px;
	background-image: url(../img/sprite_status.png);
	background-position:-0px 0px;
}
.invoiced{
	background-position:-20px 0px;	
}
.verifed{
	background-position:-20px 0px;
}
.validated{
	background-position:-20px 0px;
}
.not_sended{
	background-position:-40px 0px;
}
.sent{
	background-position:-60px 0px;
}
.viewed{
	background-position:-80px 0px;
}
.approved{
	background-position:-100px 0px;
}
.disputed{
	background-position:-120px 0px;
}
.expired{
	background-position:-139px 0px;
}

/* totals-bar */
.totals-bar small{
	padding: 0px 0px 5px 0px;
	display: block;
}
.totals-bar h3 {
	line-height: 20px;
	margin: 0px;
}
.totals-bar h5 {
	line-height: 15px;
	margin: 5px 0px 0px 0px;
}
.totals-bar h6 {
	line-height: 10px;
	margin: 5px 0px 0px 0px;
}

/* Filter forms */
.formfilter .select2-choices {
	height: 98px!important;
	overflow-y: scroll;
}
.formfilter .select2-container {
	vertical-align: top!important;
}
.formfilter label {
	margin: 0px;
}

.formfilter-date { display: inline-block; width: 200px; }
.formfilter-space { display: inline-block; width: 10px; }
.formfilter-date-large { display: inline-block; width: 100%; }
.formfilter-date-large label { margin: 0px; }
.formfilter-date p { display: inline-block; width: 50px; }

.formfilter-submit { float: right; }

.alert-now {
	background-color: #b94a48;
	border-color: #b94a48;
	color: #ffffff;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 6px;
}

#visibility-form .control-group {
	margin: 0px;
}
#visibility-form .form-actions {
	margin-top: 15px;
}

tbody [class^="icon-"]{
	  vertical-align: sub;
}

/* WATTERFALL */

.waterfall .custom-block1 {
	width: 450px;
	display: inline-block;
	margin: 0px 10px;
}
.waterfall .custom-block2 {
	width: 190px;
	display: inline-block;
	margin: 0px 10px;
}
.waterfall .custom-separator {
	width: 10px;
	display: inline-block;
}
.waterfall .grid-view {
  font-size: 13px;
}

.merged-td, tfoot tr {
	border-top: 2px solid #CCC !important;
}

.maintenance{
    text-align: center;
    margin: 10px;
}

.table thead th {
    line-height: 13px !important;
}

.deepLink{
}
.deepLink:hover{
	cursor: pointer;
	color: #005580;
}

.icon-red{
	background-image: url("../img/glyphicons-halflings-red.png") !important;
}

.divisor {
	color: #ccc;
    font-size: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 14px;
}

.form-row {
	margin-bottom: 15px;
}

table .traffic-sum-column {
	max-width: 100px;
	text-align: right;
}
table .traffic-group-column {
	max-width: 300px;
}
table .date-column {
	width: 60px;
}

.detail-data td {
	word-break: break-word;
}

/* pagination */
.custom-pag ul{
	display: inline;
}
.custom-pag .page-size {
	border: 1px solid #ddd; 
	display: inline-block; 
}
.separator10{
	padding: 0 5px;
}
.custom-pag .page-size li div {
    display: inline-block;
    padding: 4px 10px;
}
.custom-pag .page-size li select {
    font-size: 12px;
    height: 22px;
    width: 60px;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
}

#transaction-count-form .transaction-input{
	width: 150px;
	margin-right: 5px;
}

#response {
    text-align: center;
    margin-top: 150px;
}

.modal-iframe {
	padding: 0px !important;
	height: 400px !important;
    overflow: hidden;
}

.response {
	margin-bottom: 10px;
}

.form-sep {
    margin: 15px 0;
    border-bottom: 1px #CCC solid;
    color: #AAA;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    min-height: 0px !important;
}

.multi-select {
	width: 175px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
	
.code-area {
	margin-bottom: 10px;
}

.code-area-separator {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3a87ad;
    font-size: 11px;
    font-weight: bold;
	
}

.grid-images {
    max-width: 400px;
    max-height: 300px;
}

.label-select {
    display: inline-block;
    padding-top: 4px;
    margin-right: 10px;
}
